/vendor/*
/public/uploads/elearn_pack
!/vendor/bestmomo/
!/vendor/kordy/
/node_modules
Homestead.yaml
Homestead.json
.DS_Store
.env
/.idea
.idea/workspace.xml
.idea/modules.xml
.idea
/.idea/workspace.xml
.idea/pdw-hr-primary.iml
/.idea/pdw-hr-primary.iml
.doc
.docx
.pdf
.php_cs.cache
.vscode
oauth-credentials.json
